# Python Basics

In this notebook, we'll go over some basics of Python programming.

## Cells

In [1]:
1+1

2

In [2]:
a = 5

### Printing

In [3]:
print(a)

5

## Functions

In [4]:
def hello():
    print("Hello World")

In [5]:
hello()

Hello World

In [6]:
def hello(name):
    print("Hello {}".format(name))

In [7]:
hello('Class')

Hello Class

## Data Structures

### Arrays

In [8]:
a = [1,2,3]

In [9]:
a

[1, 2, 3]

In [10]:
a[1]

2

## Pandas Data Frames

A data frame is a two-dimensional data structure, with data aligned in a tabular fashion in rows and columns.

In [13]:
import pandas as pd
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [15]:
data = [1, 2, 3, 4, 5]
print(data)

[1, 2, 3, 4, 5]

In [16]:
df = pd.DataFrame(data)
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [17]:
data = [['a', 1], ['b', 2], ['c',3]]

In [18]:
df = pd.DataFrame(data)
print(df)

   0  1
0  a  1
1  b  2
2  c  3

In [21]:
data = [{'a': 1, 'b': 2},{'a': 5, 'b': 10, 'c': 20}]
df = pd.DataFrame(data, index=['first','second'], columns=['a','b','c'])
print(df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [22]:
print(df['a'])

first     1
second    5
Name: a, dtype: int64

In [31]:
df = pd.DataFrame([[1, 2], [3, 4]], columns = ['a','b'])
df2 = pd.DataFrame([[5, 6], [7, 8]], columns = ['a','b'])

df = df.append(df2)
print(df)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [39]:
print(df['a'][:2])

0    1
1    3
Name: a, dtype: int64

In [40]:
print(df[:2])

   a  b
0  1  2
1  3  4

## File I/O with Pandas

Load a CSV data structure into Pandas.

In [41]:
df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data")

In [42]:
df.shape

(149, 5)

In [43]:
df.head(n=5)

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

In [44]:
df.describe()

              5.1         3.5         1.4         0.2
count  149.000000  149.000000  149.000000  149.000000
mean     5.848322    3.051007    3.774497    1.205369
std      0.828594    0.433499    1.759651    0.761292
min      4.300000    2.000000    1.000000    0.100000
25%      5.100000    2.800000    1.600000    0.300000
50%      5.800000    3.000000    4.400000    1.300000
75%      6.400000    3.300000    5.100000    1.800000
max      7.900000    4.400000    6.900000    2.500000